.container {
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    overflow-y: visible;
}

.timeTable {
    display: flex;
    flex-direction: row;
    height: calc(100vh - var(--footer-height) - var(--header-height) - var(--side-panel-item-size) - 10px);
}

.channels {
    display: flex;
    flex-direction: column;
}

.channel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--side-panel-item-size);
    height: var(--side-panel-item-size);
    background-color: var(--color-nero);
    border-bottom: 1px solid var(--color-mortar);
}

.channel:last-of-type {
    border: none;
}

.channelLogo {
    width: calc(var(--side-panel-item-size) - 1rem);
}

.timeSlot {
    height: var(--side-panel-item-size);
    flex-shrink: 0;
    color: white;
}

.schedules {
    display: flex;
    flex-direction: row;
}
