.container {
    max-width: 100vw;
    height: calc(
            100vh
            - var(--footer-height)
            - var(--header-height)
            - var(--header-top-margin)
            - var(--side-panel-item-size)
    );
    overflow: scroll;
    position: relative;
}

.table {
    position: relative;
    border-collapse: collapse;
    table-layout: fixed;
    border-style: hidden;
}

.channel {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    left: 0;
    width: var(--side-panel-item-size);
    height: var(--side-panel-item-size);
    background-color: var(--color-nero);
    box-shadow: inset 0 -1px 0 var(--color-mortar);
}

.channel:last-of-type {
    border: none;
}

.channelLogo {
    width: calc(var(--side-panel-item-size) - 1rem);
}

.timeSlot {
    height: var(--side-panel-item-size);
    flex-shrink: 0;
    color: white;
}

.schedule {
    display: flex;
    flex-direction: row;
}
