.container {
    align-items: center;
    background-color: transparent;
    border: 0;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-flex;
    flex-direction: row;
    font-size: 1rem;
    height: 2.5rem;
    justify-content: center;
    padding: 0 3rem;
    text-decoration: none;
    width: auto;
}

.container:disabled,
.container[disabled]  {
     cursor: not-allowed;
     opacity: .7;
     pointer-events: none;
 }