.container {
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    background-color: var(--color-nero);
    width: 100vw;
}

.weekDay {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 3rem;
    height: var(--card-size);
    color: var(--color-acadia);
}

.weekDay__active {
    color: white;
}
