.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--side-panel-item-size);
    height: var(--side-panel-item-size);
    background-color: var(--color-nero);
    color: var(--color-mortar);
    flex-shrink: 0;
    box-shadow: 8px 0 5px -5px rgba(0, 0, 0, 0.75);
    z-index: 1;
}
