.container {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: var(--header-height);
    margin-top: var(--header-top-margin);
}