.container {
    position: fixed;
    background-color: var(--color-tulip-tree);
    width: var(--now-button-width);
    height: var(--now-button-height);
    font-size: var(--now-font-size);
    bottom: 5rem;
    right: 3rem;
}