.container {
    display: flex;
    flex-direction: column;
}

.content {
    height: calc(100vh - var(--footer-height));
}

.footer {
    background-color: var(--color-nero);
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: var(--footer-height);
    justify-content: center;
    align-items: center;
}

.footerItem {
    height: var(--footer-height);
    font-size: var(--icon-size);
    padding: 0 1rem;
}

.footerItem__active {
    color: var(--color-tulip-tree)
}