:root {
    --table-height: calc(
            100vh
            - var(--footer-height)
            - var(--header-height)
            - var(--header-top-margin)
            - var(--card-size)
    );
}

.container {
    max-width: 100vw;
    height: var(--table-height);
    overflow: scroll;
    position: relative;
}

.table {
    position: relative;
    border-collapse: collapse;
    table-layout: fixed;
    border-style: hidden;
}

.channel {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    max-width: var(--card-size);
    min-width: var(--card-size);
    height: var(--card-size);
    background-color: var(--color-nero);
    box-shadow: inset 0 -1px 0 var(--color-mortar);
    padding: 0 .5rem;
    z-index: 2;
}

.channel:last-of-type {
    border: none;
}

.channelLogo {
    width: calc(var(--card-size) - 1rem);
}

.program {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: var(--card-size);
    flex-shrink: 0;
    color: white;
    padding: 0 0 0 .5rem;
    font-size: .8rem;
    box-shadow: inset -5px 0 1px -4px var(--color-mortar);
}

.program__active {
    background-color: var(--color-nero);
}

.program__time {
    color: var(--color-acadia);
}

.channelWithPrograms__container {
    box-shadow: inset 0 -1px 0 var(--color-mortar);
}

.programs {
    display: flex;
    flex-direction: row;
}

.timeStamp {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: var(--card-size);
    left: 10rem;
    z-index: 1;
}

.timeStamp__body {
    height: calc(var(--table-height));
    width: 2px;
    background-color: var(--color-tulip-tree);
}
