.timeSlot {
    position: sticky;
    top: 0;
    max-width: var(--time-slot-width);
    background-color: var(--color-nero);
    color: white;
    height: 4rem;
    box-shadow: inset 0 1px 0 var(--color-mortar),
    inset 0 -1px 0 var(--color-mortar);
    z-index: 1;
}

