.timeSlot {
    position: sticky;
    top: 0;
    max-width: var(--time-slot-width);
    min-width: var(--time-slot-width);
    background-color: var(--color-nero);
    color: white;
    height: 4rem;
    box-shadow: inset 0 1px 0 var(--color-mortar),
    inset 0 -1px 0 var(--color-mortar);
    z-index: 3;
}

.timeSlot:first-of-type {
    max-width: var(--side-panel-item-size);
    min-width: var(--side-panel-item-size);
}

.timeValue {
    position: absolute;
    top: 1.5rem;
    left: -18px;
}

.timeStampHeader {
    position: absolute;
    height: calc(var(--side-panel-item-size) - 10px);
    width: .5rem;
    border-radius: .4rem;
    top: 5px;
    background-color: var(--color-tulip-tree);
}

.timeStampBody {
    position: absolute;
    height: calc(var(--side-panel-item-size));
    top: 5px;
    width: 2px;
    background-color: var(--color-tulip-tree);
}

.separation {
    position: absolute;
    bottom: 0;
    height: 1rem;
    border-left: 1px solid var(--color-mortar);
}

